<div class="container">
  <h1 class="center">Edit Event</h1>
  <div class="row">
    <div class="col-sm-12 center">
      <form method="post" action="/events/{{event.id}}">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="event[eventName]" placeholder="Event Name" value="{{event.eventName}}">
        <input type="date" name="event[eventDate]" class="datepicker" value="{{event.eventDate}}">
        <input type="text" name="event[startTime]" placeholder="Start Time" value="{{event.startTime}}">
        <input type="text" name="event[endTime]" placeholder="End Time" value="{{event.endTime}}">
        <input type="submit"class="btn" value="edit">
      </form>
    </div>
  </div>
</div>