<div class="jumbotron">
  <div class="container text-center">
    <h1>All Events</h1>
    <p>A list of all events on spont</p>
  </div>
</div>

{{#each events}}
<div class="row">

  <div class="col-md-7">
    <a href="#">
      <img class="img-responsive" src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="{{eventName}}">
    </a>
  </div>
  <div class="col-md-5">
    <h3>{{eventName}}</h3>
    {{!-- <h4><span id="displayValue" value="{{eventDate}}"></span></h4> --}}
    <h4>{{eventDate}}</h4>
    <p></p>
    <a class="btn btn-primary" href="/events/{{id}}">View Event <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

</div>

<hr>
{{/each}}