<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        {{event.eventName}}
      </h1>
    </div>
  </div>
  
  <div class="row">

    <div class="col-md-12">

      <div class="thumbnail">
        <img class="img-responsive" src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="">
        <div class="caption-full">
          <h4 class="pull-right">{{event.startTime}} - {{event.endTime}}</h4>
          <h4>
            <a href="#">{{event.eventDate}}</a>
          </h4>
          {{#each event.venue}}
          <h4>
            {{venueName}}
          </h4>
          {{/each}}
          <p></p>
          <p></p>
          <p></p>
        </div>
          {{!-- <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              4.0 stars
            </p>
          </div> --}}
        </div>

        <div class="well">

          <div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              Anonymous
              <span class="pull-right">10 days ago</span>
              <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
          </div>

          <hr>

        </div>

      </div>

    </div>

  </div>

  <br><hr><br>

  <div class="row">
    <div class="col-s4 center" >
      <a href="/events" class="center btn">Back</a>
    </div>
    <div class="col-s4 center" >
      <a href="/events/{{event.id}}/edit"class="center btn">Edit</a>
    </div>
    <div class="col-s4 center">
      <form method="post" action="/events/{{event.id}}">
        <input type="hidden" name="_method" value="delete">
        <button class="center btn">Delete</button>
      </form>
    </div>
  </div>
</div> 