<div class="container">
  <h1 class="center"><%= venue.venueName %></h1><br>

    <div class="row">
      <div class="col s12">
        <div class="center">
          <img src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="<%= venue.venueName %>" class="responsive-img">
        </div>
      </div>
    </div>

    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Description:</h4>
        <p><%= venue.description %></p>
      </li>
      <li class="collection-item">Region: <%= venue.location.region %></li>
      <li class="collection-item">
        <span class="title">Address:</span>
        <p><%= venue.location.fullAddress.address1 %></p>
        <p><%= venue.location.fullAddress.address2 %></p>
        <p><%= venue.location.fullAddress.address3 %></p>
      </li>
      <li class="collection-item">Area: <%= venue.location.area %></li>
    </ul>

  <br><hr><br>

  <div class="row">
    <div class="col s4 center" >
      <a href="/venues" class="center btn">Back</a>
    </div>
    <div class="col s4 center" >
      <a href="/venues/<%= venue.id %>/edit"class="center btn">Edit</a>
    </div>
    <div class="col s4 center">
      <form method="post" action="/venues/<%= venue.id %>">
        <input type="hidden" name="_method" value="delete">
        <button class="center btn">Delete</button>
      </form>
    </div>
  </div>
</div>