<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        {{venue.venueName}}
      </h1>
    </div>
  </div>
  
  <div class="row">

    <div class="col-md-12">

      <div class="thumbnail">

        <img class="img-responsive" src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="{{venue.venueName}}">
        <div class="caption-full">
          {{!-- <h4 class="pull-right">{{venue.location.region}}</h4> --}}
          <h4>{{venue.location.area}} <small>{{venue.location.region}}</small>
          </h4>
          
        </div>
          
          <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Address</a>
              </li>
              <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Events</a>
              </li>
              {{!-- <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
              </li> --}}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <p>{{venue.description}}</p>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <p>{{venue.location.fullAddress.address1}}</p>
                <p>{{venue.location.fullAddress.address2}}</p>
                <p>{{venue.location.fullAddress.address3}}</p>
              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                {{#each venue.events}}
                <p>{{eventName}}</p>
                <p>{{eventDate}}</p>
                <p> {{startTime}} - {{endTime}}</p>
                {{/each}}
              </div>
              {{!-- <div role="tabpanel" class="tab-pane" id="settings"></div> --}}
            </div>

          </div>

        </div>

        {{!-- <div class="well">

          <div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              Anonymous
              <span class="pull-right">10 days ago</span>
              <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
          </div>

          <hr>

        </div>
 --}}
      </div>

    </div>

  </div>

  <br><hr><br>

  <div class="row">
    <div class="col-sm-4 center" >
      <a href="/venues" class="center btn">Back</a>
    </div>
    <div class="col-sm-4 center" >
      <a href="/venues/{{venue.id}}/edit"class="center btn">Edit</a>
    </div>
    <div class="col-sm-4 center">
      <form method="post" action="/venues/{{venue.id}}">
        <input type="hidden" name="_method" value="delete">
        <button class="center btn">Delete</button>
      </form>
    </div>
  </div>
</div> 