<div class="container">
  <h1 class="center">Edit User</h1>
  <div class="row">
    <div class="col s12 center">
      <form method="post" action="/users/<%= user.id %>">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="user[firstName]" placeholder="Enter the First Name" value="<%= user.firstName %>">
        <input type="text" name="user[lastName]" placeholder="Enter the Last Name" value="<%= user.lastName %>">
        <input type="text" name="user[gender]" placeholder="Enter the Gender" value="<%= user.gender %>">
        <input type="text" name="user[email]" placeholder="Enter the Email" value="<%= user.email %>">
        <input type="text" name="user[postcode]" placeholder="Enter the Postcode" value="<%= user.postcode %>">
        <input type="submit"class="btn" value="edit">
      </form>
    </div>
  </div>
</div>
